@charset "UTF-8";

.container-wrapper {
   margin-top:px;
}

.category-img {
               width: auto; height: auto;
                max-width: 30px;
                max-height: 30px;
         }